<h1>Basic Of gits</h1>
<p>git is a open source distributed version control system, which simply means it can track changes on source code.</p>

<p class="mb-0">git has three satges of a file</p>
<ul>
    <li>commited</li>
    <li>modified</li>
    <li>stagged</li>
</ul>

<p class="mb-0">Three States of a git Project</p>
<ul>
    <li>working directory</li>
    <li>Stagin Area (index)</li>
    <li>.git directory (Repository)</li>
</ul>


<p>git config --global user.name "name" </p>
<p>git config --global user.email "email"</p>

