/* Text Styles*/
.red-text{
    font-size: 2em;
    color: red;
}
.text-red{
    color: red;
}
.text-white{
    color: white;
}
.text-black{
    color: black;
}
.text-center{
    text-align: center;
}

/* position and size */
.w-100{
    width: 100%;
}
.pos-fixed{
    position: fixed;
}


/* background color */
.bg-primary{
    background-color: rgba(10, 10, 128, 0.877);
}