<header class="text-center p-3 bg-dark fixed-top shadow">
  <h1 class="text-white m-0">Git Learning</h1>
</header>

<div class="main-body">
  <div class="row">
    <div class="col-2 left-sidebar bg-dark border-right border-primary p-3 shadow-sm">
      <ul class="m-0 p-0" style="list-style-type: none;">
        <li><a routerLink="/basic" routerLinkActive="active" class="text-white btn btn-outline-primary btn-block mb-2">Basic</a></li>
        <li><a routerLink="/config" routerLinkActive="active" class="text-white btn btn-outline-primary btn-block mb-2">Configure Git</a></li>
      </ul>
    </div>
    <div class="col-10 right-sidebar">
      <div class="main-content p-3">
        <router-outlet></router-outlet>
      </div>
      <footer class="text-center text-dark p-3">
        <p class="m-0">copyright @2021 all right reserved.</p>
      </footer> 
    </div>
  </div>
</div>
